<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Letty wants to use your library to save your letterings.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Sofia-Regular.otf</string>
		<string>riffic-bold.ttf</string>
		<string>PlayfairDisplaySC-Regular.otf</string>
		<string>PlayfairDisplaySC-Italic.otf</string>
		<string>PlayfairDisplaySC-BoldItalic.otf</string>
		<string>PlayfairDisplaySC-Bold.otf</string>
		<string>PlayfairDisplaySC-BlackItalic.otf</string>
		<string>PlayfairDisplaySC-Black.otf</string>
		<string>PlayfairDisplay-Regular.otf</string>
		<string>PlayfairDisplay-Italic.otf</string>
		<string>PlayfairDisplay-BoldItalic.otf</string>
		<string>PlayfairDisplay-Bold.otf</string>
		<string>PlayfairDisplay-BlackItalic.otf</string>
		<string>PlayfairDisplay-Black.otf</string>
		<string>Pacifico.ttf</string>
		<string>NexaRustSlab-BlackShadow01-Free.otf</string>
		<string>NexaRustScriptL-0-Free.otf</string>
		<string>NexaRustSans-Black-Free.otf</string>
		<string>NexaRustHandmade-Extended-Free.otf</string>
		<string>Lobster.otf</string>
		<string>learning_curve_regular_ot_ps.otf</string>
		<string>learning_curve_dashed_ot_ps.otf</string>
		<string>learning_curve_bold_ot_ps.otf</string>
		<string>KaushanScript-Regular.otf</string>
		<string>introscriptr-h2base.otf</string>
		<string>introrustg-base2line.otf</string>
		<string>introheadr-base.otf</string>
		<string>geometria-light.otf</string>
		<string>DancingScript-Regular.otf</string>
		<string>CaviarDreams-Regular.ttf</string>
		<string>CaviarDreams-BoldItalic.ttf</string>
		<string>CaviarDreams-Italic.ttf</string>
		<string>CaviarDreams-Bold.ttf</string>
		<string>BebasNeue-Thin.otf</string>
		<string>BebasNeue-Regular.otf</string>
		<string>BebasNeue-Light.otf</string>
		<string>BebasNeue-Bold.otf</string>
		<string>BebasNeue-Book.otf</string>
		<string>Allura-Regular.otf</string>
		<string>AbrilFatface-Regular.otf</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Letty</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
